# Loops and Conditionals
---

## Loops


- for
- while

**looping through list**

*lets create a list*

In [6]:
lst = [1, 3, 4]

# Blocks

In [5]:
print('Length of the list: ', len(lst))
for item in lst:
    print(item)
    print('='*3)
print ('Finished.......')

Length of the list:  3
1
===
3
===
4
===
Finished.......

*for each `item` in list `lst` print that `item`*

In [3]:
# variable inside for loop holds value after loop has been completed
item

4

*looping through tuple*

In [20]:
for item in (1, 3, 4):
    print(item)

1
3
4

*looping through dictionary - by keys*

In [126]:
dct = {'names':'harrypotter',
       'age': 42, 
       'name': 'Harry',
       'profession': 'Foreman', 
       'address': ('12th Street', 'CA'),
       'dead':'you are'
      }

In [127]:
for item in dct:
    print(item)

address
name
names
age
profession
dead

*here items printed are keys of dictionary*

*If we loop through a dictionary we get keys*

In [115]:
# get all the keys
dct.keys()

dict_keys(['age', 'name', 'profession', 'address'])

In [12]:
# looping through list of keys of the dictionary
for item in dct.keys():
    print(item)

age
name
profession
address

In [16]:
# now obtain value from keys of a dictionary
for key in dct:
    print(dct[key])
    print('='*9)

42
=========
Harry
=========
Foreman
=========
('12th Street', 'CA')
=========

### lst[0] => 1
#### same as that : dct[key]

*looping by value*

In [17]:
# get list of values of the dictionary
dct.values()

dict_values([42, 'Harry', 'Foreman', ('12th Street', 'CA')])

In [18]:
# get all the values of dictionary from list of values
for item in dct.values():
    print(item)

42
Harry
Foreman
('12th Street', 'CA')

In [23]:
# we can access dictionary values using dictionary[key] see: session3a
# for format string see: session 2
for item in dct:
    print("'{}' has value '{}'".format(item, dct[item]))

'age' has value '42'
'name' has value 'Harry'
'profession' has value 'Foreman'
'address' has value '('12th Street', 'CA')'

### tuple unpacking, variable assignment

In [24]:
# create variables a1 and b1 and assign values to them
a1 = 5
b1 = 8
print(a1, b1)

5 8

In [40]:
# variable assignment can be done in single line as
a1, b1 = 9, 6
print(a1, b1)

9 6

*In above `a1` is assigned `9` and `b1` is assigned `6`*

In [26]:
a, b = (0, 1)

In [27]:
a

0

In [28]:
b

1

*a1, b1 = (0, 1) is same as a1, b1 = 0, 1*

since (0, 1) is a tuple and it is unpacked ( taken out of tuple ), this process is called unpacking

In [33]:
# both sides should be equal
a, b, c = 0, 9

ValueError: not enough values to unpack (expected 3, got 2)

In [35]:
a, b, c = (0, 9, 3)

In [36]:
# both sides should be equal
a, b, c = 9, 8, 7, 8

ValueError: too many values to unpack (expected 3)

In [37]:
(a, b, c) = (88, 99, 77)

In [38]:
print(a, b, c)

88 99 77

In [41]:
# get items of a dictionary
dct.items()

dict_items([('age', 42), ('name', 'Harry'), ('profession', 'Foreman'), ('address', ('12th Street', 'CA'))])

In [42]:
for item in dct.items():
    print(item)

('age', 42)
('name', 'Harry')
('profession', 'Foreman')
('address', ('12th Street', 'CA'))

In [43]:
for item in dct.items():
    key, value = item # ('profession', 'Foreman')
    print("Key {} with value {}".format(key, value))

Key age with value 42
Key name with value Harry
Key profession with value Foreman
Key address with value ('12th Street', 'CA')

In [44]:
for key, value in dct.items():
    print("key {} has value {}".format(key, value))

key age has value 42
key name has value Harry
key profession has value Foreman
key address has value ('12th Street', 'CA')

### Ranges

*create a range object starting from 0 and up to 9, (remember 9 is excluded)*

In [45]:
range(0, 9)

range(0, 9)

In [46]:
# range from 0 to 9 (excluding 9)
list(range(0, 9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [47]:
for i in range(0, 9):
    print(i)

0
1
2
3
4
5
6
7
8

In [48]:
# 0 to 9 (excluding) with step 2
for i in range(0, 9, 2):
    print(i)

0
2
4
6
8

In [49]:
list(range(1, 9, 2))

[1, 3, 5, 7]

#### while loop

In [50]:
a = a + 1

In [51]:
a

89

**There is no ++/-- operator in python**

In [52]:
# it is shorthand for a = a + 1
a += 1

*shorthands*

```python

a = a - 1
# same as
a -= 1

b = b * 3
# same as
b *= 3

c = c / 4
# same as
c /= 4
```

In [62]:
a = 0
while a < 3:
    print(a)
    a += 1

0
1
2

In [63]:
a = 0
while a < 3:
    a += 1
    print(a)

1
2
3

## Conditionals

*empty list, tuple, dictionary are false*

In [64]:
[] == True

False

In [65]:
bool([])

False

*same is true for empty string and 0*

In [66]:
'' == True

False

In [67]:
bool('')

False

*'' is empty string but not ' ', which has space in it*

In [68]:
bool(' ')

True

In [69]:
0 == True

False

In [70]:
bool(0)

False

*check if a is present in string *

In [71]:
'a' in 'abc'

True

*check if number is present in list*

In [72]:
5 in list(range(0, 5))

False

In [73]:
5 in list(range(0, 6))

True

In [74]:
list(range(0, 6))

[0, 1, 2, 3, 4, 5]

**if/elif/else**

In [75]:
# empty space is not same as empty string
if ' ':
    print('If')

If

In [77]:
ord(' ')

32

In [79]:
if '' == True:
    print('Some string')
else:
    print('empty string')

empty string

In [80]:
help(ord)

Help on built-in function ord in module builtins:

ord(c, /)
    Return the Unicode code point for a one-character string.

*Note: Above code is for example, should follow code like below*

```python

if '':
    print('Some string')
else:
    print('empty string')
```

In [81]:
a

3

*Note: a is already assigned above in while loop*

In [82]:
if a < 3:
    print('a is less than 3')
elif a == 3:
    print('a is equals to 3')
else:
    print('a is greater than 3')

a is equals to 3

*Note: This is way of doing switch/case in python*

**logical operators**

In [89]:
a < 3 and a == 3

False

In [90]:
a < 4 and a == 3

True

*Note: there is no && or || operator in python*

In [84]:
a < 3 or a == 3

True

*Note: while there is & and | operators, which are bitwise operators*

In [91]:
a <= 3

True

In [92]:
a >= 3

True

In [93]:
a

3

*a is greaterthan or equals to 3 AND less than 9*

In [94]:
3 <= a < 9

True

**Negation operators**

In [95]:
# a is not equal to 4
a != 4

True

In [69]:
not True

False

In [70]:
not False

True

In [96]:
not (3 <= a < 9)

False

In [97]:
# not boolean
if not []:
    print("List is empty")

List is empty

**Break and Continue**

In [98]:
a = 0
while a < 9:
    print(a)
    if a == 3:
        break
    a += 1

0
1
2
3

*always breaks nearest parent loop*

In [99]:
a = 0
while a < 9:
    a += 1
    if 4 < a < 6:
        continue
    print(a)

1
2
3
4
6
7
8
9

In [100]:
a = 0
while a < 9:
    if 4 < a < 6:
        continue
    print(a)
    a += 1

0
1
2
3
4

KeyboardInterrupt:

*continue the loop but skip the remaining lines, above print function is skipped when a is 5*

**Conditional assignment**

*value_of is assigned __aa__ if __aa__ is less than __3__, otherwise it is assigned __False__*

In [108]:
aa = 4

In [109]:
value_of = aa * 3 if aa > 3 else False

In [110]:
value_of

12

In [111]:
value_of = aa * 3 if aa < 4 else False

In [112]:
value_of

False